/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*preloader*/

/*
.draw
{
    visibility: hidden;
    height: 200px;
    width: 300px;
    margin: 0;
    padding: 0;
    background-image: url(../img/draw.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
*/
/*

#fly
{
    height: 80px;
    width: 385px;
    background-image: url(../img/rysunek.png);
    background-repeat: no-repeat;
    float: right;
    animation-name: flight;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transition: 2s;
    background-size: contain;
}
*/
/*
path{
   
   
    stroke: #000;
    
    stroke-width: 1;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation-name: draw;
    animation-duration: 7s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
    animation-timing-function: linear;
   
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
     
  }
}
*/
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@media(max-width:700px){
    
    .about
    {
        height: 450px !important;
        
    }
    .about-paragraph
    {
        margin-bottom: 20px;
    }
    
    .photos
    {
        height: 420 !important;
    }
    .widok
    {
        visibility: hidden;
        height: 0px;
        display: none;
    }
    .ja
    {
        height: 400px !important;
        
        
    }
    .hurts
    {
        visibility: hidden;
        height: 0px;
        display: none;
    }
    .festiwal
    {
        visibility: hidden;
        height: 0px;
        display: none;
    }
    .tosia
    {
        visibility: hidden;
        height: 0px;
        display: none;
    }
    .rajd
    {
        visibility: hidden;
        height: 0px;
        display: none;
    }
    .home-title
    {
        font-size: 26px;
        text-align: center;
        
    }
    .media
    {
        margin-right: 20px;
        margin-left: -20px;
    }
    
    .home-paragraph
    {
        text-align: center;
        font-size: 20px;
    }
    
    {
        margin: auto;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }
    .wrapper{
        height: 20px;
    }
svg
    {
        visibility: hidden;
    }
    
.draw
{
    visibility: visible;
    
}
}
/*================================================
==================================================
PRELOADER==============================================*/
#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ECF0F1;
  /* display: none; */
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    /* display: none; */
}

.load :first-child {
    background:#7b0dc8;
    animation-delay: -1.5s;
}
 
.load :nth-child(2) {
    background: #8c3bc4;
    animation-delay: -1s;
}
 
.load :nth-child(3) {
    background: #aa58e4;
    animation-delay: -0.5s;
}
 
.load :last-child {
    background:#40165d;
}
 
@keyframes spin {
    0%, 100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}
/*====================================================================================================HOME=================================================================================================*/
.home-container
{
    height: 84vh;
    
}
.palac
{
    left:50%;
    position:relative;
    height: 400px;
    width: 200px;
}
body 
{
  background: #673ab7;
}
svg 
{
    right: 0;
    bottom: 0;
    display: block;
}
.home
{
    font-family: Courier, monospace;
    color:#fff;
}
.home-title
{
    padding-top: 70px;
    margin-left: 1%;
}
.home-paragraph
{
    margin-left: 1%;
}
social
{
    margin-left:44%;
    margin-top: 2%;
}
i
{
    color: white;
}
i:hover
{
    color: #16a085;
}

.navbar .nav > li > a 
{
    float: none;
    text-decoration: none;
    font-family: Courier, monospace;
    color:#fff;
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: 4px;
}
.navbar-default .navbar-nav > li > a:focus
{
    color: white;
}
.navbar .nav > li > a:hover 
{
    color: #16a085;
}
 a:focus
{
    color:#fff;
}
.navbar
{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.menu
{
    background-color: transparent;
}
/*====================================================================================================================================================================================================ABOUT========================================================================================================================================================================================*/
.svg-options
{
    margin-left: -50%;
    position:relative;
}
.about
{
    height: 300px;
    font-family: Courier, monospace;
    color:#fff;
}
.about-title
{
    margin-left: 30px;
    font-size: 20px;
}
.about-paragraph
{
    margin-left: 30px;
    font-size: 14px;
    padding-top: 20px;
}

.photos
{
    height: 400px;
    margin-left: ;
}
.hurts
{
    background-image: url(../img/kot.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    margin: 0;
    border-top-right-radius: 2px;
}
.ja
{
    margin: 0;
    background-image: url(../img/ja.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    padding: 0;
}
.opener
{
   margin: 0;
    padding: 0;
    background-image: url(../img/opener.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine; 
}
.widok
{
    background-image: url(../img/widok.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 2px;
}
.tosia
{
    background-image: url(../img/tosia.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    margin: 0;
}
.kot
{
    background-image: url(../img/kot.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    margin: 0;
}
.rajd
{
    background-image: url(../img/rajd.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    margin: 0;
    border-bottom-right-radius: 2px;
}
.festiwal
{
    
    background-image: url(../img/festiwal.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    margin: 0;
    border-bottom-left-radius: 2px;
    
}
/*===================================================================================================FOOTER====================================================================================*/
.footer-title
{
    color: white !important;
    font-size: 9px;
    float: left;
    font-family: Courier, monospace;
}
.footer-h
{
    height: 4vh;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}